<volist name="list" id="list">
    <div class="container-fluid line"></div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="Business">
                <p><span class="Business_et">订单号：</span><{$list.order_sn}></p>
                <p><span class="Business_et">金额：</span><span class="Business_cl">￥<{$list.total_price}></span></p>
                <p><span class="Business_et">下单时间：</span><{$list.create_time|date="Y-m-d H:i:s",###}></p>
                <p><span class="Business_et">会员：</span><{$list.user_name}></p>
                <p><span class="Business_et">手机号码：</span><{$list.mobile}></p>
                <p><span class="Business_et">产品/服务：</span><{$list.sub_name}></p>
                <p><span class="Business_et">状态：</span><span class="Business_cl">
                <switch name="list.status"> 
                    <case value="-2" >已过期或作废</case>
                    <case value="-1" >已取消</case>                    
                    <case value="0" >未付款</case>
                    <case value="1" >未消费</case>
                    <case value="2" >未消费</case>
                    <case value="3" >已消费</case>
                    <default />免费预订
                </switch>

                </span></p>      
            </div>  
        </div>
    </div>
</volist>