<volist name="ajaxRecord" id="rd">
	<div class="resbox">
		<table class="table table-condensed table-bordered agreement">
			<tbody>
				<tr>
					<td colspan="2"><{$rd.car_owner}><span class="pull-right"><{$rd.service_time|date="Y-m-d H:i",###}></span></td>
				</tr>
				<tr>
					<td width="50%">
						<span class="pull-left reserve_span">项目</span>
						<span class="pull-right"><{$rd.item}></span>
					</td>
					<td>
						<span class="pull-left reserve_span">电话</span>
						<span class="pull-right"><{$rd.user_mobile}></span>
					</td>
				</tr>
				<tr>
					<td colspan="2"><span class="pull-left reserve_span">门店</span><span class="pull-right"><{$rd.store_name}>:<{$rd.store_contact}></span></td>
				</tr>
				<tr>
					<td colspan="2"><span class="pull-left reserve_span">备注</span><span class="pull-right"><{$rd.remark}></span></td>
				</tr>
			</tbody>
		</table>
		<if condition="$rd.status eq 1">
		<button class="btn btn-default pull-right" style="margin-right:10px;" disabled="disabled">预约已取消</button>
		</if>
		<if condition="$rd.status eq 2">
		<button class="btn btn-danger pull-right" style="margin-right:10px;" disabled="disabled">成功消费</button>
		</if>
	</div>
</volist>

