<include file="Inc:header"/>
<link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css">
</head>


<body>

<style type="text/css">
/*布局样式重置*/
.tab_parent{padding-left: 15px;}
.tab_subset{margin:0; padding: 0 15px 0 0;}
a{color: #333;}
a:focus,a:active, a:hover{color: #333; text-decoration: none;}
.box_flex{font-size:14px; display: -webkit-box; display: -moz-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex;}
.flex1{ -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;}
body{position: relative;}
.o_f{overflow: hidden;}


.topinfo{ background: #ea5b22; color: #fff; padding: 0 15px; line-height: 80px;}
.topinfo span{font-size: 40px;}

/*地址*/
.addinfo{padding: 10px; border-bottom: 5px solid #eee;}
.addinfo .bline p{padding: 0 0 6px 0; margin:0; line-height: 25px; }
.bline{border-bottom: 1px solid #e6e6e6;}
.infotab{padding: 8px 10px; background:#fbfbfb; }


/*门店名*/
.bundlev{height:40px; line-height: 40px; padding: 0 10px;}
.bundlev p{margin: 0;}
.storeico{display: inline-block; width: 20px; height: 20px; vertical-align: middle;background: url(__PUBLIC__/images/store.svg) no-repeat; background-size: 20px; margin-right: 3px;}

/*产品列表*/
.productlist{overflow: hidden; padding: 12px 10px;}
.leftimg{width: 100px; height: 100px; margin-right: 10px;}
.leftimg img{width: 100%; height: 100%;}
.rightinfo h3{ line-height: 22px; margin: 3px; height: 44px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;  font-size: 14px;  word-break: break-all;}
.price{ color: #eb5211;font-size: 20px;}
.d-main{line-height: 28px;}
.d-main .pull-right{font-size: 12px; color: #717171;}

.inline{height: 5px; background: #eee; border-top: 1px solid #d0d0d0;}


/*底部按钮*/
.sift_bottom{position:fixed; bottom: 0; right: 0; width: 100%;}
.sift_bottom a{background: #ea413e;color: #fff;border:0;width:100%; height: 48px;line-height: 48px;text-align: center;}


</style>

<div class="topinfo o_f">
  <{$info.order_status}>
  <span class="pull-right"><i class="fa fa-clipboard"></i></span>
</div>

<div class=" o_f bline infotab ">
  订单编号：<{$info.order_sn}>
</div>

<volist name="goods_list" id="gl">
    <div class="bundlev bline">
      <span class="storeico"></span><{$gl.supplier_name}>
    </div>
    
    <volist name="gl['goods']" id="goods">
      <div class="productlist box_flex  bline">
        <div class="leftimg">
          <a href="<{:U('Purchase/detail',array('id'=>$goods['goods_id']))}>"><img src="<{$goods.thumbnail}>"></a>
        </div>
        <div class="rightinfo flex1">
          <h3><a href="<{:U('Purchase/detail',array('id'=>$goods['goods_id']))}>"><{$goods.goods_name}></a></h3>
          <div class="d-main">
            <span class="price">￥:<{$goods.sell_price|price}></span> 
            <span>/<{$goods.unit}></span>
            <span class="pull-right">× <{$goods.num}></span>
          </div>
        </div>
      </div>
  </volist>
</volist>
<div class="o_f addinfo">
  <div class="">
    <p class="o_f ">
      <span class="pull-left">供应商电话</span>
      <span class="pull-right"><{$info.mobile}></span>
    </p>
    <p>
      收货地址：<{$info.address}>
    </p>
  </div>
</div>

<div class="bundlev bline">
  <p>
    <span class="pull-left">优惠金额：</span>
    <span class="pull-right price">￥<{$info.discount_price|price}></span>
  </p>
</div>
<div class="bundlev bline">
  <p>
    <span class="pull-left">总计金额：</span>
    <span class="pull-right price">￥:<{$info.total_price|price}></span>
  </p>
</div>
<if condition="$info.pay_time neq 0">
<div class="bundlev bline">
  <p>
    <span class="pull-left">支付方式：</span>
    <span class="pull-right"><{$info.pay_type}></span>
  </p>
</div>
</if>
<div class="bundlev bline">
  <p>
    <span class="pull-left">收货人：</span>
    <span class="pull-right"><{$info.receive_user}></span>
  </p>
</div>

<div class="bundlev bline">
  <p>
    <span class="pull-left">下单时间：</span>
    <span class="pull-right"><{$info.create_time|date="Y-m-d H:i:s",###}></span>
  </p>
</div>
<if condition="$info.pay_time neq 0">
  <if condition="$info.means_of_payment eq 1 || $info.means_of_payment eq 2">
  <div class="bundlev bline">
    <p>
      <span class="pull-left">支付时间：</span>
      <span class="pull-right"><{$info.pay_time|date="Y-m-d H:i:s",###}></span>
    </p>
  </div>
  </if>
</if>
<div class="bundlev o_f">
  <p>
    订单备注：<{$info.remark}>
  </p>
</div>





<div style="height:48px;"></div>
<div class="sift_bottom">
  <a href="<{:U('Biz/purchase_order')}>" class="btn-block">返回列表</a>
</div>


<script type="text/javascript">
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
  WeixinJSBridge.call('hideToolbar');
  WeixinJSBridge.call('hideOptionMenu');
});
</script>

</body>
</html>
